body {
  width: 450px;
  padding: 0 5px;
  font-size: 12px;
  margin: 15px auto;
  font-family: arial, sans-serif;
  border: solid 1px rgba(0,0,0,0.1);
}

table {
  border: 0;
  width: 100%;
  padding: 10px;
  border-spacing: 0;
}

select, table tr td {
  transition: 0.3s ease all;
  font-family: arial, sans-serif;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

input[type="checkbox"] {
  margin: 0 0 0 3px;
  vertical-align: middle;
}

select {height: 32px}
table tr td {height: 24px}

.title, select, option {
  color: #333;
  font-size: 12px;
  font-family: arial, sans-serif;
}

select {
  border: 0;
  margin: 0;
  width: 100%;
  box-shadow: none;
  padding: 7px 10px;
  background-color: #FFF;
  border: solid 1px rgba(0,0,0,0.1);
}

.note {
  color: #777;
  font-size: 11px;
  font-family: arial, sans-serif;
}
